<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css"
        integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
        integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css"
        integrity="sha256-HAaDW5o2+LelybUhfuk0Zh2Vdk8Y2W2UeKmbaXhalfA=" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css">
    <title>Construction | SweepWell</title>
</head>

<body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/images/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
                <a class="navbar-brand logo font-weight-bold" href="#" style="color: #00aeff;">SweepWell</a>
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-toggle="dropdown"
                            aria-expanded="false">Services</a>
                        <div class="dropdown-menu">
                            <a href="/construction" class="dropdown-item active">Construction</a>
                            <a href="/cleaning" class="dropdown-item">Cleaning Up</a>
                            <a href="/repair" class="dropdown-item">Repair and Maintainence</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                </ul>
                <button class="btn btn-outline-success my-2 my-sm-0"
                    onclick="window.location.href = '/login';">Login / Register</button>
            </div>
        </div>
    </nav>

    <!-- PAGE HEADER -->
    <header id="construction-page-header">
        <div class="container">
            <div style="padding: 12%;">
                <h1 class="display-1">Construction</h1><br>
                <h4>Constructiveness in the human way.</h4>
            </div>
        </div>
    </header>

    <!-- BOOKING CARD -->
    <section id="booking-card" class="bg-white">
        <div class="container">
            <div class="row">
                <!-- <div class="col-1 bg-white" style="border:1px solid #ffff">Equal Width</div> -->
                <div class="col bg-white" style="border:1px solid #ffff">
                    <div style="margin-top: -10px">
                        <div style="margin-top: -70px;">
                            <div class="card pl-5 pr-5">
                                <div class="card-body text-dark">
                                    <h3 class="text-center">Book for your Home Construction Job</h3>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input class="date form-control" type="date" name="bday"
                                                    placeholder="Choose Date">
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-group">
                                                    <select class="form-control" id="gender">
                                                        <option disabled selected="selected">Choose a Time</option>
                                                        <option>9:00</option>
                                                        <option>10:00</option>
                                                        <option>11:00</option>
                                                        <option>12:00</option>
                                                        <option>1:00 PM</option>
                                                        <option>2:00 PM</option>
                                                        <option>3:00 PM</option>
                                                        <option>4:00 PM</option>
                                                        <option>5:00 PM</option>
                                                        <option>6:00 PM</option>
                                                        <option>7:00 PM</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <select class="form-control" id="gender">
                                                    <option disabled selected="selected">Number of Staff</option>
                                                    <option>1</option>
                                                    <option>2</option>
                                                    <option>3</option>
                                                    <option>4</option>
                                                    <option>5</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <input type="text" class="form-control" placeholder="Zip Code">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <textarea class="form-control"
                                                    placeholder="Description of the Work"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" value="Submit" class="btn btn-success btn-block">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-1 bg-white" style="border:1px solid #ffff">Equal Width</div> -->
            </div>
        </div>
    </section>

    <!-- HOW_BOOKING_WORKS -->
    <section id="booking-card" class="bg-white text-dark">
        <br><br>

        <!-- HEADING -->
        <div class="container">
            <div class="row">
                <div class="col">
                    <hr class="hr-for-heading">
                </div>
                <div class="col bg-white text-center">
                    <h3>How Easy Booking Works</h3>
                </div>
                <div class="col">
                    <hr class="hr-for-heading">
                </div>
            </div>
        </div>

        <!-- ICONS -->
        <section id="home-icons" class="py-5">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <i class="fas fa-calendar-week fa-5x mb-2" style="color: rgb(0, 60, 255);"></i>
                        <h3>Book a Date</h3>
                        <p>Give us a call and we'll be home.</p>
                    </div>
                    <div class="col text-center">
                        <i class="fas fa-globe fa-5x mb-2" style="color: rgb(0, 185, 0);"></i>
                        <h3>Manage Online</h3>
                        <p>Give us a call and we'll be home.</p>
                    </div>
                    <div class="col text-center">
                        <i class="fas fa-smile-beam fa-5x mb-2" style="color: rgb(255, 230, 0);"></i>
                        <h3>Stay Comfy</h3>
                        <p>Give us a call and we'll be home.</p>
                    </div>
                    <div class="col text-center">
                        <i class="fas fa-headset fa-5x mb-2" style="color: rgb(26, 26, 26);"></i>
                        <h3>Call Us Anytime</h3>
                        <p>Give us a call and we'll be home.</p>
                    </div>
                </div>
            </div>
        </section>

    </section>

    <!-- SERVICE CONTENT -->
    <section id="service-content" class="bg-white text-dark">
        <br>
        <!-- CONTENT-CARD -->
        <div class="container">
            <div class="card">
                <div class="card-body p-5">
                    <h4 class="card-title h1">How our Construction Team Works</h4>
                    <h6 class="card-subtitle text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h6>
                    <br>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus suscipit
                        quas, ipsum enim laborum quis officiis fugit at saepe esse! Laudantium eligendi quo assumenda
                        placeat nam vitae vero animi molestiae numquam esse. Alias in aliquam rerum optio hic quaerat
                        ullam, expedita unde labore minus rem ex laborum placeat facere debitis repellendus maxime
                        fugit. Illo unde dolores sit quasi! Accusamus, vero recusandae! Ducimus ipsum possimus
                        voluptatem eos corporis fugit obcaecati optio facere accusantium ullam! A libero ullam
                        laudantium dolor consequuntur sapiente, nam quas repellat non ea accusantium nisi eius deleniti
                        et animi excepturi odit. Et voluptatibus dolores laborum accusamus aliquid iure. Nemo vel
                        voluptatem incidunt eos rerum tempore provident sit minus sapiente, facere quia assumenda?
                        Provident sit reprehenderit aliquam mollitia nobis nesciunt suscipit! Iusto, impedit praesentium
                        illo ducimus laborum dolor assumenda deserunt voluptas veritatis porro. Minus, mollitia quidem
                        natus officia reprehenderit deserunt distinctio ducimus quod ipsum, iusto illum maxime
                        consectetur quis explicabo obcaecati quae atque minima nisi quo veritatis dignissimos est odit
                        rerum fugit. Neque aperiam adipisci dicta dolor ipsa possimus quia qui. Mollitia sunt dolor
                        minima accusantium cum sed nemo vitae, architecto cupiditate consectetur atque consequatur
                        perspiciatis vel omnis ipsa soluta eaque eos incidunt non, voluptas quae consequuntur quibusdam!
                        Sequi sint consectetur, ut cumque, iste harum est commodi neque, praesentium optio sed illum
                        voluptate ex. Dolorum tempore at ipsam aut, modi fugiat fugit soluta a ipsa nam consequatur,
                        accusamus impedit dicta ratione molestiae tenetur, harum pariatur corporis amet consequuntur.
                        Vero et dolores modi molestiae ullam pariatur. Laudantium quidem amet numquam, saepe, quam
                        alias, necessitatibus consectetur ea consequuntur aperiam repellat quas inventore accusantium
                        deleniti in. Deleniti, magni, ipsum eaque harum neque voluptas dolores qui alias assumenda sit
                        quis velit minima illum aperiam, sunt architecto saepe natus ducimus. Incidunt deleniti id quis
                        placeat laborum eos sed ipsum consequatur facere asperiores, ab pariatur?</p>
                </div>
            </div>
        </div>
        <br><br><br>
    </section>

    <!-- PHOTO GALLERY -->
    <section id="gallery" class="py-5 bg-primary">
        <div class="container">
            <h1 class="text-center">Photo Gallery</h1>
            <p class="text-center">Check out our photos</p>
            <div class="row mb-4">
                <div class="col-md-4">
                    <a href="https://source.unsplash.com/featured/?men,fashion,sneakers" data-toggle="lightbox"
                        data-gallery="img-gallery" data-height="560" data-width="560">
                        <img src="https://source.unsplash.com/featured/?men,fashion,sneakers" alt="" class="img-fluid">
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="https://source.unsplash.com/featured/?men,fashion,sneakers" data-toggle="lightbox"
                        data-gallery="img-gallery" data-height="561" data-width="561">
                        <img src="https://source.unsplash.com/featured/?men,fashion,sneakers" alt="" class="img-fluid">
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="https://source.unsplash.com/featured/?men,fashion,sneakers" data-toggle="lightbox"
                        data-gallery="img-gallery" data-height="562" data-width="562">
                        <img src="https://source.unsplash.com/featured/?men,fashion,sneakers" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-md-4">
                    <a href="https://source.unsplash.com/featured/?men,fashion,sneakers" data-toggle="lightbox"
                        data-gallery="img-gallery" data-height="563" data-width="563">
                        <img src="https://source.unsplash.com/featured/?men,fashion,sneakers" alt="" class="img-fluid">
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="https://source.unsplash.com/featured/?men,fashion,sneakers" data-toggle="lightbox"
                        data-gallery="img-gallery" data-height="564" data-width="564">
                        <img src="https://source.unsplash.com/featured/?men,fashion,sneakers" alt="" class="img-fluid">
                    </a>
                </div>

                <div class="col-md-4">
                    <a href="https://source.unsplash.com/featured/?men,fashion,sneakers" data-toggle="lightbox"
                        data-gallery="img-gallery" data-height="565" data-width="565">
                        <img src="https://source.unsplash.com/featured/?men,fashion,sneakers" alt="" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer id="main-footer" class="text-center p-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Copyright &copy;
                        <span id="year"></span> SweepWell</p>
                </div>
            </div>
        </div>
    </footer>

    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"
        integrity="sha256-Y1rRlwTzT5K5hhCBfAFWABD4cU13QGuRN6P5apfWzVs=" crossorigin="anonymous"></script>

    <script>
        // Get the current year for the copyright
        $('#year').text(new Date().getFullYear());

        // LightBox
        $(document).on('click', '[data-toggle="lightbox"]', function (event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>
</body>

</html>