<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://kit.fontawesome.com/0fcf6f3dfc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" rel="stylesheet" href="/css/style.css">
    <title>SweepWell</title>
</head>

<body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark" style="z-index: 1;">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/images/logo.png" width="50" height="50" class="d-inline-block align-top" alt="">
                <a class="navbar-brand logo font-weight-bold" href="#" style="color: #00aeff;">SweepWell</a>
            </a>
            <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
                            aria-expanded="false">Services</a>
                        <div class="dropdown-menu">
                            <a href="/construction" class="dropdown-item">Construction</a>
                            <a href="/cleaning" class="dropdown-item">Cleaning Up</a>
                            <a href="/repair" class="dropdown-item">Repair and Maintainence</a>
                            <!-- </div>
                                <div>
                                    <a href="/login" class="btn btn-lg btn-success">Login</a>
                                    <a href="/signup" class="btn btn-lg btn-info">Register</a>
                                </div>
                            </div> -->
                    </li>
                    <li class="nav-item">
                        <a href="/about" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link">Contact</a>
                    </li>
                </ul>
                <button class="btn btn-outline-success my-2 my-sm-0"
                    onclick="window.location.href = '/login';">Login</button>
            </div>
        </div>
    </nav>

    <!--Show Case Slider-->
    <section id="showcase">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item carousel-image-1 active">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block text-right mb-5">
                            <h1 class="display-3">Your One Stop To Home Services</h1>
                            <p class="lead">Constructiveness in the human way.</p>
                        </div>
                    </div>
                </div>

                <div class="carousel-item carousel-image-2">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block mb-5">
                            <h1 class="display-3">Home interior cleaning? We got this.</h1>
                            <p class="lead">Professional work delivered at ease.</p>
                            <a href="#" class="btn btn-primary btn-lg">Learn More</a>
                        </div>
                    </div>
                </div>

                <div class="carousel-item carousel-image-3">
                    <div class="container">
                        <div class="carousel-caption d-none d-sm-block text-right mb-5">
                            <h1 class="display-3">Kitchen tidy up? We got'em too! </h1>
                            <p class="lead">Clutter free Kitchen for you beautiful homes</p>
                            <a href="#" class="btn btn-primary btn-lg">Learn More</a>
                        </div>
                    </div>
                </div>
            </div>

            <a href="#myCarousel" data-slide="prev" class="carousel-control-prev">
                <span class="carousel-control-prev-icon"></span>
            </a>

            <a href="#myCarousel" data-slide="next" class="carousel-control-next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    </section>

    <!--Home Icon Section-->
    <section id="home-icons" class="py-5">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4 text-center">
                    <i class="fas fa-home fa-3x mb-2"></i>
                    <h3>Door to Door</h3>
                    <p>Give us a call and we'll be home.</p>
                </div>
                <div class="col-md-4 mb-4 text-center">
                    <i class="fas fa-fighter-jet fa-3x mb-2"></i>
                    <h3>Fast Servicing</h3>
                    <p>Our staff respond real fast.</p>
                </div>
                <div class="col-md-4 mb-4 text-center">
                    <i class="fas fa-phone-alt fa-3x mb-2"></i>
                    <h3>Customer Care</h3>
                    <p>Our customer care is online 24/7</p>
                </div>
            </div>
        </div>
    </section>

    <!--Carousel of Cards-->
    <section id="card-carousel" class="bg-light text-dark py-5">
        <h2 class="d-flex justify-content-center">Some of our Services</h1><br>
            <div class="container">
                <div class="card-columns">
                    <div class="card">
                        <img class="card-img-top img-fluid" src="/images/construction-card.jpg" alt="">
                        <div class="card-body">
                            <h4 class="card-title d-flex justify-content-center">Construction</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to
                                additional content. This content
                                is a little bit longer.</p>
                            <div class="button-container d-flex justify-content-center"><a href="#"
                                    class="btn btn-success btn-lg">Book Now</a></div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-fluid" src="/images/cleanup-card.jpg" alt="">
                        <div class="card-body">
                            <h4 class="card-title d-flex justify-content-center">Cleaning Up</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to
                                additional content. This content
                                is a little bit longer.</p>
                            <div class="button-container d-flex justify-content-center"><a href="#"
                                    class="btn btn-success btn-lg">Book Now</a></div>
                        </div>
                    </div>
                    <div class="card">
                        <img class="card-img-top img-fluid" src="/images/repair-card.jpg" alt="">
                        <div class="card-body">
                            <h4 class="card-title d-flex justify-content-center">Repair and Maintainence</h4>
                            <p class="card-text">This is a longer card with supporting text below as a natural lead-in
                                to
                                additional content. This content
                                is a little bit longer.</p>
                            <div class="button-container d-flex justify-content-center"><a href="#"
                                    class="btn btn-success btn-lg">Book Now</a></div>
                        </div>
                    </div>

                </div>
            </div>
    </section>

    <!--Random Section-->
    <section id="explore-section" class="bg-primary text-light py-5">
        <div class="container">
            <div class="row">
                <div class="col md-6">
                    <img src="/images/bathroom.jpg" alt="" class="img-fluid mb-3" style="border: #ffffff 5px solid;">
                </div>
                <div class="col md-6">
                    <h3>Quality with a reasonable Price</h3><br><br>
                    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam harum fuga molestiae
                        eum temporibus at, sit dolor. Aperiam voluptatum eum quae distinctio consequuntur impedit id
                        repellat placeat deserunt corrupti asperiores fugiat reprehenderit vitae aspernatur sint ipsa
                        inventore ut voluptatibus, illo natus? Doloremque eos ratione reprehenderit. Quasi iste quos
                        architecto beatae!</p>
                </div>
            </div>
        </div>
    </section>

    <!--Our Satisfied Customer-->
    <section id="staff" class="py-5 text-center bg-light text-dark">
        <div class="container">
            <h1>Our Satisfied Customers</h1>
            <hr>
            <div class="row">
                <div class="col-md-3">
                    <img src="images/customer1.jpg" alt="" class="img-fluid rounded-circle mb-2">
                    <h4>John Doe</h4>
                    <small>Konchady</small>
                </div>
                <div class="col-md-3">
                    <img src="images/customer2.jpg" alt="" class="img-fluid rounded-circle mb-2">
                    <h4>Sara Williams</h4>
                    <small>Vamanjoor</small>
                </div>
                <div class="col-md-3">
                    <img src="images/customer3.jpg" alt="" class="img-fluid rounded-circle mb-2">
                    <h4>Jane Mary</h4>
                    <small>Kaikamba</small>
                </div>
                <div class="col-md-3">
                    <img src="images/customer4.jpg" alt="" class="img-fluid rounded-circle mb-2">
                    <h4>Alexa Walker</h4>
                    <small>Kottara</small>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer id="main-footer" class="text-center p-4">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>Copyright &copy;
                        <span id="year"></span> SweepWell</p>
                </div>
            </div>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
    <script>
        // Get the current year for the copyright
        $('#year').text(new Date().getFullYear());
    </script>
</body>

</html>