body {
    background: #333;
    color: #fff;
}

.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;

}

#main-footer {
    background: #000;
    color: #fff;
}

.hr-for-heading {
    background: rgb(200, 200, 200);
}


/*---------------------------*/
/*-------HOME------------*/
/*---------------------------*/

.carousel-item {
    height: 450px;
}

.carousel-image-1 {
    background: url('../images/house-with-leaves(cover).jpg');
    background-size: cover;
}

.carousel-image-2 {
    background: url('../images/home-interiors(cover).jpg');
    background-size: cover;
}

.carousel-image-3 {
    background: url('../images/bathroom(cover).jpg');
    background-size: cover;
}





/*---------------------------*/
/*-------ABOUT------------*/
/*---------------------------*/
#about-page-header {
    height: 200px;
    background: url('../images/about-us-cover.jpg');
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
    background-size: cover;
}

.about-img {
    margin-top: -50px;
}

/*---------------------------*/
/*-------CONTACT------------*/
/*---------------------------*/
#contact-page-header {
    height: 200px;
    background: url('../images/contact-cover.jpg');
    background-position: 0 -360px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    padding-top: 50px;
    background-size: cover;
}

/*---------------------------*/
/*-------CONSTRUCTION------------*/
/*---------------------------*/
#construction-page-header {
    background: url('../images/construction-cover.jpg');
    background-position: 0px -300px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    /* padding-top: 10%; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

/*---------------------------*/
/*-------CLEANING------------*/
/*---------------------------*/
#cleaning-page-header {
    background: url('../images/cleanup-cover.jpg');
    background-position: 0px -300px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    /* padding-top: 10%; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

/*---------------------------*/
/*-------REPAIR------------*/
/*---------------------------*/
#repair-page-header {
    background: url('../images/repair-cover.jpg');
    background-position: 0px -300px;
    background-attachment: fixed;
    color: #fff;
    border-bottom: 1px #eee solid;
    /* padding-top: 10%; */
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
}

/*---------------------------*/
/*-------LOGIN------------*/
/*---------------------------*/

@media only screen and (min-width : 0px) and (max-width : 1700px) {
    .wrapper {
        padding: 13% 0% 15% 0;
    }
}

@media only screen and (min-width : 1701px) and (max-width : 1920px) {
    .wrapper {
        padding: 13% 0% 10% 0;
    }
}

.form-signin {
    max-width: 500px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#login{
    background: url('../images/login-bg.png');
}